@import "../tools/flexbox", "../settings/variables";

.c-btn {
  @include flex-content-align(center, center);

  background-color: $light;
  border-radius: $border-radius-standard;
  color: $dark;
  cursor: pointer;
  outline: none;
  border: none;
  white-space: nowrap;

  &:hover:enabled {
    background-color: darken($light, 20);
  }
  &:disabled {
    background-color: $gray;
    cursor: no-drop;
  }
}
