@import "../tools/flexbox", "../settings/variables";

.c-btn {
  @include flex-content-align(center, center);

  background-color: $light;
  border-radius: $border-radius-standard;
  color: $dark;
  cursor: pointer;
  height: 100%;
  outline: none;
  border: none;
  white-space: nowrap;
  background-color: darken($light, 10);

  &:hover:enabled {
    background-color: darken($light, 20);
  }
}
