@import "../tools/flexbox", "../settings/variables", "../tools/_text_ellipsis";
.c-card {
  @include flexbox;
  @include flex-direction(column);
  border-radius: $border-radius-standard;
  box-sizing: border-box;
  background-color: $light;
  &__image {
    @include flex(1);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    min-height: 150px;
  }
  &__header {
    @include flex(1);
    @include three-dot(1);
    text-align: center;
    font-weight: $font-weight-bold;
    padding: $padding-standard;
  }
  &__body {
    @include flex(1);
    @include flex-content-align(flex-start, center);
    padding: 0 $padding-standard;
    @include three-dot(2);
  }
}
