@import "../settings/variables";
.c-input {
  background: $light;
  border-radius: $border-radius-standard;
  border: none;
  width: 100%;
  padding: $padding-double-size 0 $padding-double-size $padding-double-size;
  color: $dark;
  font-weight: $font-weight-bold;
}
