@import "../settings/variables", "../tools/flexbox";
.c-filter {
  @include flexbox;
  padding: $padding-double-size;

  &__title {
    @include flex(1);
  }
  &__actions {
    @include flex(1);
    @include flexbox;
    @include align-items(center);

    .c-select {
      flex: 4;
    }

    span{
      margin-left: $margin-standard;
    }

    .c-btn {
      margin-left: $margin-standard;
      font-size: $font-size;
    }
  }
}
