@use "sass:math";

$primary: #156aa7;
$secondary: #e3e5e9;
$light: white;
$dark: #2c3138;
$gray: #c0b2ba;
$black: black;

$header-height: 45px;

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

// Padding
$padding-standard: 0.3rem !default;
$padding-double-size: $padding-standard * 2;
$padding-half-size: math.div($padding-standard, 2);

// Margin
$margin-standard: 0.6rem !default;
$margin-double-size: $margin-standard * 2;
$margin-half-size: math.div($margin-standard, 2);

// Font size
$font-size: 0.85rem;
$font-size-lg: $font-size * 1.15 !default;
$font-size-xl: $font-size * 1.75 !default;

// Font weight
$font-weight-base: 200 !default;
$font-weight-normal: $font-weight-base !default;
$font-weight-bold: $font-weight-base * 3 !default;

// Radius
$border-radius-standard: 0.3rem !default;
$border-radius-double-size: $border-radius-standard * 2;
$border-radius-largest-size: $border-radius-standard * 3;
$border-radius-half-size: math.div($border-radius-standard, 2);

$box-shadow-bottom: 0px 0px 5px 1px $gray;
$box-shadow: 0px 2px 1px -1px darken($gray, 12%),
  0px 1px 1px 0px darken($gray, 6%), 0px 1px 3px 0px darken($gray, 4%);
